body {
    background-image: url('/src/Images/homeImage.jpg');
    background-size: cover; /* This will make the background cover the entire page */
    background-repeat: no-repeat; /* Prevent the background from repeating */
    background-attachment: fixed; /* Make sure the background stays fixed when scrolling */
    background-position: center; /* Center the background image */
    height: 100%;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: Arial, sans-serif; /* Example font-family */
}
